@charset "UTF-8";

div#tv-radio{
    width: 900px;   /* dimensões do arquivo de imagem*/
    height: 580px; /* dimensões do arquivo de imagem */
    margin: auto; 
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    left: 573px;
    top: 470px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 80px;
    top: -55px;
    width: 440px;
    height: 400px;
}










